<!-- <div class="logo">
  <a href="https://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="./assets/img/logonav.jpg" />
      </div>
  </a>
  <a href="https://www.creative-tim.com" class="simple-text logo-normal">
      FullPedido
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
      <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
          <a [routerLink]="[menuItem.path]">
              <i class="now-ui-icons {{menuItem.icon}}"></i>
              <p>{{menuItem.title}}</p>
          </a>
      </li>
  </ul>
</div> -->

<nav class="main-menu">
  <ul>
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="has-subnav">
      <a [routerLink]="[menuItem.path]">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text"> {{menuItem.title}} </span>
      </a>
    </li>

  </ul>

  <ul class="logout">
    <li>
      <a href="#">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text"> Logout </span>
      </a>
    </li>
  </ul>
</nav>
